{% extends 'index.html' %}

{% block body %}

<div class="container text-center p-4">
    <div class="d-flex justify-content-center">

        <div class="card" style="width: 34rem;">
            <img src="../static/Image/yes chan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">You May got Admissionn</h5>
                <p class="card-text">We have predicted that you have a chance</p>
                <a href="/home" class="btn btn-light">Return</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}